rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read write to all issues of a user
    match /users/{uid}/issues/{document=**}{
    	allow read, write: if request.auth != null && request.auth.uid==uid;
    }
    
    // Allow authenticated users to create a user with their uid
    match /users/{uid} {
    	allow create: if request.auth != null && request.auth.uid == uid;
    }
    
  }
}
