

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem;
  min-height: 100vh;
  background-color: #090511;
}


.epic {
  margin-top: 12%;
  margin-bottom: 12%;
  font-size: 12em;

  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}

.this {
  color: #5e27cc;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  width: 100px;
  inline-size: 5000px;
}

.this:hover {
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
}

.custombuttonwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%; 
}