@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem;
  min-height: 100vh;
  background-color: #090511;
}

.epic {
  margin-top: 12%;
  margin-bottom: 12%;
  font-size: 12em;

  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}

.this {
  color: #5e27cc;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  width: 100px;
  inline-size: 5000px;
}

.this:hover {
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
}